@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$font-roboto: "Roboto", sans-serif;

// Primary
$tomato: hsl(4, 100%, 67%);

// Neutral
$grey-darkSlate: hsl(234, 29%, 20%);
$grey-charcoal: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

// Widths
$width-mobile: 375px;
$width-desktop: 1440px;

$paragraph-default: 16px;

// Font weights
$font-weight--regular: 400;
$font-weight--bold: 700;

@mixin flexCenter($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
